---
import { Image } from "astro:assets";

interface Props {
  name: string;
  img: Promise<any>;
  url: string;
}

const { name, img, url } = Astro.props;
---

<a href={url}>
  <Image
    src={img}
    alt=`${name} Icon`
    title={name}
    width={64}
    height={64}
  />
</a>

<style>
  img {
    border-radius: 50%;
  }
</style>