---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  name: string;
  image: ImageMetadata;
  url: string;
}

const { name, image, url }: Props  = Astro.props;
---

<a href={url}>
  <Image
    src={image}
    alt={`${name} Icon`}
    title={name}
    width={64}
    height={64}
    draggable="false"
  />
</a>

<style>
  img {
    border-radius: 50%;
  }
</style>