---
import navigation from "../config/navigation";
---

<nav>
  <ul>
    {navigation.map(item => (
      <li>
        <a href={item.url}>{item.name}</a>
      </li>
    ))}
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    background-color: rgba(19, 21, 26, 0.9);
  }

  nav ul {
    margin: auto;
  }
</style>