---
import navigation from "../config/navigation";
---

<nav>
  <ul>
    {navigation.map(item => (
      <li>
        <a href={item.path}>{item.name}</a>
      </li>
    ))}
  </ul>
</nav>

<style>
  nav {
    padding-left: 2em;
    padding-right: 2em;
  }

  nav ul {
    margin: auto;
  }
</style>