---
import type { GetStaticPaths } from "astro";
import type { ImageLink } from "@common/interface";
import projects from "@config/projects";

export const getStaticPaths = (() => {
  return projects.map((project: ImageLink) => (
    {
      params: {
        path: project.name.toLowerCase()
      },
      props: {
        name: project.name
      }
    }
  ));
}) satisfies GetStaticPaths;

const { name } = Astro.props;
console.log(name);
---

<p>{name}</p>