---
import type { GetStaticPaths } from "astro";
import type { ImageLink } from "src/common/interface";
import projects from "@configs/projects";

export const getStaticPaths = (() => {
  return projects.map((project: ImageLink) => (
    { params: { project: project.name.toLowerCase() } }
  ));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
---

<p>{project}</p>