---
import type { GetStaticPaths } from "astro";
import type { ImageLink } from "@common/interface";
import projects from "@config/projects";

export const getStaticPaths = (() => {
  return projects.map((project: ImageLink) => (
    { params: { project: project.name.toLowerCase() } }
  ));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
console.log(project);
---

<p>{project}</p>