---
import Project from '@components/Project.astro';
---

<Project name="BedrockManager">
  <p slot="description">
    BedrockManager is a plugin and api that makes working with floodgate's cache faster and easier. <br />
    This project is not public as of now, but it's planned to be published once there's a sufficient
    amount of features.
  </p>

  <section>
    <h4>Features</h4>

    <ul>
      <li>Player caching in a local database</li>
      <li>FUID → Username conversion and vice versa</li>
    </ul>
  </section>
</Project>