---
import Project from '@components/Project.astro';
---

<Project name="BitLib">
  <p slot="description">
    BitLib is my onw Spigot utility library which aims to make development faster and more efficient. <br />
    It's still in its early development, so it doesn't always reach its goal.
  </p>

  <section>
    <h4>Features</h4>

    <p>Since BitLib is far from being ready for a public release, its features will just be briefly listed:</p>

    <ul>
      <li>
        ItemBuilder with 
        <a href="https://www.spigotmc.org/resources/head-database.14280/" target="_blank">HeadDatabase</a> 
        integration and 
        <a href="https://en.wikipedia.org/wiki/Template_processor" target="_blank">Templating</a> 
        features
      </li>
      <li>Selfregistering CommandHandlers and EventListeners</li>
      <li>Improved YAML configuration class</li>
      <li>Commonly used database methods</li>
      <li>Various utilities for players and items</li>
      <li>Log filters</li>
    </ul>
  </section>
</Project>