---
import Project from '@components/Project.astro';
---

<Project name="BitLib">
  <p slot="description">
    BitLib is my onw Spigot utility library which aims to make development faster and more efficient. <br />
    It's still in its early development, so it doesn't always reach its goal.
  </p>

  <section>
    <h4>Features</h4>

    <p>
      Since BitLib is far from being ready for public use, I will instead just briefly list some
      of the features it provides
    </p>

    <ul>
      <li>
        ItemBuilder with 
        <a href="https://www.spigotmc.org/resources/head-database.14280/" target="_blank">HeadDatabase</a> 
        integration and 
        <a href="https://en.wikipedia.org/wiki/Template_processor" target="_blank">templating</a> 
        possibilities
      </li>
      <li>Selfregistering Commands and EventListeners</li>
      <li>Improved YAML Config class</li>
      <li>Predefined database methods</li>
      <li>Various utilities for players and items</li>
      <li>Log filters</li>
    </ul>
  </section>
</Project>