---
import Project from '@components/Project.astro';
---

<Project name="Boosters">
  <p slot="description">
    Boosters is a plugin which aims to make playing more fun by providing temporary power-ups. <br />
    Every hour a boost can be activated which applies multipliers on certain actions.
  </p>

  <section>
    <h4>Features</h4>

    <ul>
      <li>ShopGUI+ integration</li>
      <li>Tip the player that activated the boost as a thank you</li>
      <li>Discord webhook integration for notifications</li>
    </ul>
  </section>
</Project>