---
import Project from '@components/Project.astro';
---

<Project name="IdleWatch">
  <p slot="description">
    IdleWatch's goal is simple: Provide entertainment while being afk. <br />
    IdleWatch let's you spectate other players once execute <code>/afk</code>. <br />
    This plugin is aimed for close-nitted communities where leaking coordinates is not an issue
    and streamers that want to show content while taking a small break.
  </p>

  <section>
    <h4>Features</h4>

    <ul>
      <li>Spectate other players</li>
      <li>Switch spectating targets every few seconds</li>
      <li>AFK Timer</li>
    </ul>
  </section>
</Project>