---
import App from "@layouts/App.astro";
import FlexContainer from "@components/FlexContainer.astro";
import FullwidthThumbnail from "@components/FullwidthThumbnail.astro";
import projects from "@configs/projects";
---

<App page="Projects">
  <h3>Projects</h3>
  <p>This is a sample description</p>

  <FlexContainer direction="column">
    {projects.map(project => (
      <FullwidthThumbnail
        name={project.name}
        image={project.image}
        url={project.url}
      />
    ))}
  </FlexContainer>
</App>