---
import App from "@layouts/App.astro";
import Container from "@components/Container.astro";
import IconCard from "@components/IconCard.astro";
import projects from "@config/projects";
---

<App page="Projects">
  <h3>Projects</h3>
  <p>This is a sample description</p>

  <Container direction="column">
    {projects.map(project => (
      <IconCard
        name={project.name}
        image={project.icon}
        url={project.url}
      />
    ))}
  </Container>
</App>