---
import Project from '@components/Project.astro';
---

<Project name="PaidPortals">
  <p slot="description">
    PaidPortals tries to slow down the pace players play in. <br />
    This plugin starts a "Money Pool" which players can deposit into to unlock new dimensions
    after reaching the payment goal.
  </p>

  <section>
    <h4>Features</h4>

    <ul>
      <li>Vault integration</li>
      <li>YAML, MySQL and MongoDB as datastorage</li>
      <li>Possibility to block players from entering or creating portals before the goal is reached</li>
    </ul>
  </section>
</Project>