---
import Project from '@components/Project.astro';
---

<Project name="SpelerWarps">
  <p slot="description">SpelerWarps allows players to create, visit and rate warps.</p>

  <section>
    <h4>Features</h4>

    <ul>
      <li>Create, visit, rate and edit warps</li>
      <li>Custom display items</li>
      <li>Warp statistics</li>
      <li>Gui sorting</li>
    </ul>
  </section>
</Project>