---
import FlexContainer from "@components/FlexContainer.astro";
import GenericProject from "@components/GenericProject.astro";

import projects from "../config/projects";

interface Props {
  amount: number;
}
 
const { amount } = Astro.props;
---

<section id="projects">
  <h3>Projects</h3>
  <p>This is a sample description</p>

  <FlexContainer>
    {projects.map((project, index) => (
      index < amount &&
      <GenericProject
        name={project.name}
        image={project.image}
        url={project.url}
      />
    ))}
  </FlexContainer>

  <!--<a href="/projects">View all</a>-->
</section>

<style>
  .container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1em;
    justify-content: space-evenly;
    margin-bottom: 1em;
  }
</style>