---
import FlexContainer from "@components/FlexContainer.astro";
import IconCard from "../components/IconCard.astro";
import technologies from "../config/technologies";
---

<section id="technologies">
  <h3>Technologies</h3>
  <p>Some technologies I currently use! Sample text</p>

  <FlexContainer>
    {technologies.map(technology => (
      <IconCard
        name={technology.name}
        image={technology.image}
        url={technology.url}
      />
    ))}
  </FlexContainer>
</section>