---
import IconCard from "../components/IconCard.astro";
import technologies from "../config/technologies";
---

<section id="technologies">
  <h3>Technologies</h3>
  <p>Some technologies I currently use! Sample text</p>

  <div class="container">
    {technologies.map(technology => (
      <IconCard
        name={technology.name}
        img={technology.icon}
        url={technology.url}
      />
    ))}
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-wrap: wrap; 
    gap: 1em;
  }
</style>