---
import FlexContainer from "@components/FlexContainer.astro";
import IconCard from "@components/IconCard.astro";
import technologies from "@config/technologies";
---

<section id="technologies">
  <h3>Technologies</h3>
  <p>These are some of the technologies I use for my projects</p>

  <FlexContainer>
    {technologies.map(technology => (
      <IconCard
        name={technology.name}
        image={technology.image}
        url={technology.url}
      />
    ))}
  </FlexContainer>
</section>

<style>
  @media (max-width: 53.25em) {
		h3, h4, h5, p, a {
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}
</style>