---
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';

interface Props {
	page: string;
	frontmatter?;
}

const { page, frontmatter } = Astro.props;
const title = `SCHORN - ${page || frontmatter.title}`;
// TODO: make images non draggable?
// @TODO: generic Projects component (maxShown?, format: vertical, horizontal)
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	</head>
	<body>
		<Navbar />

		<main>
			<slot />
		</main>
		
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth;
	}

	body {
		max-width: 50em;
		margin-right: auto;
		margin-left: auto;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	main {
		padding-bottom: 1em !important;
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
